
html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  box-sizing: border-box;
  width: 100%;
  height: 100dvh;
  display: grid;
  place-content: center;
  background: #9db8f3;
  color: white;
  font-family: Futura;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}
.hero a {
  font-size: 50px;
  color: white;
  text-decoration: underline;
  text-decoration-color: #768ec3;
}

main {
  min-height: 100dvh;
  max-width: 35em; 
  line-height: 1.8; 
  font-size: 18px; 
  margin: 0 auto; 
  text-align: center;
}


.sample-work{
padding-bottom: 40px;;
}


/* Button help from W3Schools */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #9db8f3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
